// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components

.body {
    background-color: #F6EEFF;
}

.py-4 > .container {
    background-color: #FFF;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 20);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 12);
    border-radius: 6px;
    padding: 20px;
}


